@font-face {
    font-family: Bobby Jones Soft;
    src: url(font.otf);
}

body {
    font-family: Bobby Jones Soft;
}

a {
    color:brown
}

a:visited {
    color:brown
}

tr {
    break-inside: avoid;
}