@font-face {
    font-family: Bobby Jones Soft;
    src: url(font.otf);
}

body {
    font-family: Bobby Jones Soft;
    background-color: #d07360;
}

a {
    color:brown
}

a:visited {
    color:brown
}

.arialed {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}