<!DOCTYPE html>
<head>

</head>
<body>
    <a href="/"> <- back </a>
    <form method="post">
        <label for="start">The minimum barcode number:</label>
        <input id="start" name="start" type="number" value="0" required>
        <br>
        <label for="end">The maximum barcode number:</label>
        <input id="end" name="end" type="number" required>
        <br>
        <label for="count">The number of barcode numbers to find: (leave blank for all, or for longest range in continuous mode)</label>
        <input id="count" name="count" type="number">
        <br>
        <label for="mode">Choose mode:</label>
        <select id="mode" name="mode">
            <option value="anyunused">Any unused numbers</option> <!--
            <option value="rangeunused">Continuous unused numbers</option>
            <option value="rangeused">Continuous used numbers</option>
            <option value="anyused">Any used numbers</option> -->
        </select>
        <br>
        <label for="report">Copy-paste all contents of the 'barcode list' report, using command-a (or ctrl-a on windows) to select all text:</label>
        <br>
        <textarea id="report" name="report" rows="4" cols="50"></textarea>
        <br>
        <input type="submit">
    </form>
</body>