<!DOCTYPE html>
<head>

</head>
<body>
    <a href="/"><- back</a>
    <form method="post">
        <label for="mincircs">The minimum number of circulations required for something to be displayed: </label>
        <input id="mincircs" name="mincircs" type="number" value="0">
        <br>
        <label for="maxcircs">The highest amount of circulations that displayed books will have: (leave blank for no limit)</label>
        <input id="maxcircs" name="maxcircs" type="number">
        <br>
        <label for="lostbooks">Books marked lost should be: </label>
        <select id="lostbooks" name="lostbooks" required>
            <option value="included">included</option>
            <option value="excluded">excluded</option>
            <option value="only">the only books present</option>
        </select>
        <br>
        <label for="report">Upload the results of the 'shelf list' report, set to export to Excel</label>
        <br>
        <input id="report" name="report" type="file">
        <br>
        <input type="submit">
    </form>
</body>