<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <a href="/"><- back</a> <br>
    This will use information from the Destiny "shelf list" report. Please run that report with the desired settings, which is set to export to xlsx.
    
    <img src="{{url_for('static', filename='destinyshot.svg')}}", width="1000" style="padding-bottom: -500;">
    <br>
    
    <form method="post" enctype="multipart/form-data">
        <label for="mincircs">Display books with </label>
        <input id="mincircs" name="mincircs" type="number" value="0">
        <label for="maxcircs"> to </label>
        <input id="maxcircs" name="maxcircs" type="number">
        circulations.
        <br>
        <label for="lostbooks">Books marked lost should be: </label>
        <select id="lostbooks" name="lostbooks" required>
            <option value="included">included</option>
            <option value="excluded">excluded</option>
            <option value="only">the only books present</option>
        </select>
        .
        <br>
        <label for="mindate">Show books published between the years</label>
        <input id="mindate" name="mindate" type="number">
        <label for="maxdate">and</label>
        <input id="maxdate" name="maxdate" type="number"> 
        <br>
        <label for="sort">Sort by: </label>
        <select id="sort" name="sort" required>
            <option value="Call Number">Call #</option>
            <option value="Author">Author</option>
            <option value="Title">Title</option>
            <option value="Year">Year published (only works if Destiny is set to show year published)</option>
            <option value="Date Acquired">Date acquired</option>
            <option value="Circs">Number of circulations</option>
        </select>
        <select id="sortOrder" name="sortOrder" required>
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </select>
        <br>
        <label for="secondSort">Then by: </label>
        <select id="secondSort" name="secondSort" required>
            <option value="Call Number">Call #</option>
            <option value="Author">Author</option>
            <option value="Title">Title</option>
            <option value="Year">Year published (only works if Destiny is set to show year published)</option>
            <option value="Date Acquired">Date acquired</option>
            <option value="Circs">Number of circulations</option>
        </select>
        <select id="secondSortOrder" name="secondSortOrder" required>
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
        </select>
        
        .
        <br>
        <label for="report">Upload an Excel file with the results of the 'shelf list' report</label>
        <br>
        <input id="report" name="report" type="file" required>
        <br>
        <input type="submit">
    </form>
</body>